#prev{
    float: right;
    font-size: small;
    width: max-content;
}
#help{
    font-size: small;
    width: min-content;
    float: left;
}
#main{
    text-align: right;
    padding: 5px;
    background-color:whitesmoke;
}

