#prev{
    float: right;
    font-size: small;
    width: max-content;
}
#help{
    font-size: small;
    width: min-content;
    float: left;
}
#main{
    text-align: right;
    padding: 8px;
    background-color:whitesmoke;
    margin-bottom: 15px;
}
img{
    padding-bottom: 3px;
    height: 50px;
    float: left;
    width: 70px;
}
#arrow{
    height: 30px;
    width: 30px;
}
button{
   border-color: whitesmoke;
    font-size:large;


}
#helpme{
    padding-bottom: 10px;
    padding-left: 10px;
}