<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!-- <p>signin works!</p> -->
    <form [formGroup]="signInForm" (submit)="send()">

        <div>
            <label for="name">
                שם משתמש:
            </label>
            <input id="name" type="text" formControlName="userName">
            <div class="error" *ngIf="signInForm.controls['userName'].errors?.required!=null&&signInForm.controls['userName'].touched==true">שדה זה הוא שדה חובה</div>

        </div>

        <div>
            <label for="password">
                ססמה:
            </label>
            <input id="password" type="password" formControlName="password">
            <div class="error" *ngIf="signInForm.controls['password'].errors?.required!=null&&signInForm.controls['password'].touched==true">שדה זה הוא שדה חובה</div>

        </div>
        <!-- <a routerLink="/createnewcall">createnewcall</a> -->
        <input type="submit" value="התחבר">
    </form>
</body>

</html>