<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <!-- <p>home</p> -->
    <div>
        <!-- <a [routerLink]="['/signup']" routerLinkActive="active">משתמש חדש</a>
        <a [routerLink]="['/signin']" routerLinkActive="active">בקש עזרה</a> -->
        <button (click)="askForHelp()">בקש עזרה</button>
        <button (click)="signup()">משתמש חדש</button>
        <!-- <app-askforhelp></app-askforhelp> -->
    </div>
</body>

</html>