<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div *ngIf="login&&login!=''">
        <button [routerLink]="['/createnewcall']" class="userButton2">בקש עזרה</button>
        <button [routerLink]="['/askforhelp']" class="userButton2">הבקשות שלי</button>
        <button [routerLink]="['/requestinmycare']" class="userButton2">בקשות בטיפולי</button>
    </div>
    <div *ngIf="!login||login==''">
        <button [routerLink]="['/logup']" class="userButton">משתמש חדש</button>
        <button [routerLink]="['/signin']" class="userButton">משתמש רשום</button>
    </div>
    <app-reservoirOfRequests></app-reservoirOfRequests>
</body>

</html>