<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body id="main">
    <div *ngIf="isLogedIn()" class="btn-group container-fluid">
        <button [routerLink]="['/createnewcall']" class="btn btn-success userButton2" *ngIf="Roletype()==2">בקש עזרה</button>
        <button [routerLink]="['/askforhelp']" class="btn btn-success userButton2" *ngIf="Roletype()==2">הבקשות שלי</button>
        <button [routerLink]="['/requestinmycare']" class="btn btn-success userButton2">בקשות בטיפולי</button>
        <button [routerLink]="['/statistics']" class="btn btn-success userButton2" *ngIf="Roletype()==3">צפייה בסטטיסטיקות</button>
        <button [routerLink]="['/newmanager']" class="btn btn-success userButton2" *ngIf="Roletype()==3">הוספת מנהל</button>

    </div>
    <div *ngIf="!isLogedIn()" class="btn-group container-fluid">
        <button [routerLink]="['/logup']" class="btn btn-success userButton">משתמש חדש</button>
        <button [routerLink]="['/signin']" class="btn btn-success userButton">משתמש רשום</button>
    </div>


    <app-reservoirOfRequests></app-reservoirOfRequests>
</body>

</html>