/* You can add global styles to this file, and also import other style files */
body{
    direction: rtl;
    font-size: large;
}
button{
    font-size: large;
    margin: 5px;
    width: 95%;
    
}
.error{
    font-size:13px;
}