body {
    text-align: right;
}
.error{
    color: red;
    font-size:x-small;
    margin: 0px;
    padding: 0px;
}
a{
    font-size:medium;
}
input{
    text-align: right;
}
.req{
    border-color:black;
    border: 2px;
    border-style: solid;
    padding: 20px;
    margin: 5px;

}
