/* You can add global styles to this file, and also import other style files */
input,select{
    margin:5px
}
span{
    font-size: small;
}
div{
    font-size: 15px;
}
body{
    direction: rtl;
    font-size: small;

}
button{
    font-size: large;
    margin: 5px;
    width: 95%;
    
}
.error{
    color: red;
    font-size:x-small;
    margin: 0px;
    padding: 0px;
}
