<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>יצירת חשבון</h2>
  <form [formGroup]="signUpForm" (submit)="sendData()">

    <div>
      <label for="name">שם משתמש:</label>
      <input id="name" type="text" formControlName="userName" placeholder="אז איך אמרת שקוראים לך?">
      <div class="error" *ngIf="signUpForm.controls['userName'].errors?.required!=null&&signUpForm.controls['userName'].touched==true">שדה זה הוא שדה חובה</div>
    </div>

    <div>
      <label for="password">ססמה:</label>
      <input id="password" type="text" formControlName="password" maxlength="10" (change)="checkPassword()" placeholder="בחר סיסמה באורך 6 תוים לפחות">
      <div class="error" *ngIf="signUpForm.controls['password'].errors?.required!=null&&signUpForm.controls['password'].touched==true">שדה זה הוא שדה חובה</div>
      <div class="error" *ngIf="signUpForm.controls['password'].errors?.pattern!=null&&signUpForm.controls['password'].touched==true">בחר סיסמה המורכבת ממספרים ואותיות בלבד</div>
      <div class="error" *ngIf="signUpForm.controls['password'].errors?.minlength!=null&&signUpForm.controls['password'].touched==true">בחר סיסמה באורך 6 תווים לפחות</div>
      <div class="error" *ngIf="!this.checkpassword">ססמה תפוסה</div>

    </div>

    <div>
      <label for="phone" >טלפון:</label>
      <input id="phone" type="text" formControlName="phone" maxlength="10" placeholder="מספר הטלפון שלך">
      <div class="error" *ngIf="signUpForm.controls['phone'].errors?.required!=null&&signUpForm.controls['phone'].touched==true">שדה זה הוא שדה חובה</div>
      <div class="error" *ngIf="signUpForm.controls['phone'].errors?.minlength!=null"> אורך מינימלי 9 ספרות </div>
      <div class="error" *ngIf="signUpForm.controls['phone'].errors?.pattern!=null">ספרות בלבד</div>
      <div></div>
    </div>

    <div>
      <label for="city">עיר:</label>
      <input id="city" type="text" formControlName="city">
      <div class="error" *ngIf="signUpForm.controls['city'].errors?.required!=null&&signUpForm.controls['city'].touched==true">שדה זה הוא שדה חובה</div>
    </div>

    <div>
      <label for="restriction">סוג המגבלה:</label>
      <input id="restriction" type="text" formControlName="restriction">
      <div class="error" *ngIf="signUpForm.controls['restriction'].errors?.required!=null&&signUpForm.controls['restriction'].touched==true">שדה זה הוא שדה חובה</div>
    </div>

    <input type="submit" value="הרשם">

  </form>
  <div><a [routerLink]="['/signin']">כבר נרשמת לכאן? התחבר/י</a></div>
</body>

</html>