<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="javascript:void(0)" (click)="setStatisticsIsShown(0)">1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="setStatisticsIsShown(1)">2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="setStatisticsIsShown(2)">3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="setStatisticsIsShown(3)">4</a>
  </li>
</ul>
<div *ngIf="statisticShown[0]">
  <app-statistic1></app-statistic1>
</div>
<div *ngIf="statisticShown[1]">
  <app-statistic2></app-statistic2>
</div>
<div *ngIf="statisticShown[2]">
  <app-statistic3></app-statistic3>
</div>
<div *ngIf="statisticShown[3]">
  <app-statistic4></app-statistic4>
</div>