<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="vsignup" dir="rtl">
    <h4>יצירת חשבון מתנדב</h4>
    <form [formGroup]="volunteerSignUpForm" (submit)="sendData()">
  
      <div  class="form-group">
        <label for="name">שם משתמש:</label>
        <input id="name" type="text" formControlName="userName" class="form-control" placeholder="אז איך אמרת שקוראים לך?">
        <div class="error" *ngIf="volunteerSignUpForm.controls['userName'].errors?.required!=null&&volunteerSignUpForm.controls['userName'].touched==true">שדה זה הוא שדה חובה</div>
      </div>
  
      <div  class="form-group">
        <label for="password">ססמה:</label>
        <input id="password" type="text" formControlName="password" class="form-control" maxlength="10" (change)="checkPassword()" placeholder="בחר סיסמה באורך 6 תוים לפחות">
        <div class="error" *ngIf="volunteerSignUpForm.controls['password'].errors?.required!=null&&volunteerSignUpForm.controls['password'].touched==true">שדה זה הוא שדה חובה</div>
        <div class="error" *ngIf="volunteerSignUpForm.controls['password'].errors?.pattern!=null&&volunteerSignUpForm.controls['password'].touched==true">בחר סיסמה המורכבת ממספרים ואותיות באנגלית בלבד</div>
        <div class="error" *ngIf="volunteerSignUpForm.controls['password'].errors?.minlength!=null&&volunteerSignUpForm.controls['password'].touched==true">בחר סיסמה באורך 6 תווים לפחות</div>
        <div class="error" *ngIf="!this.checkpassword">ססמה תפוסה</div>
  
      </div>
  
      <div  class="form-group">
        <label for="phone" >טלפון:</label>
        <input id="phone" type="text" formControlName="phone" class="form-control" maxlength="10" placeholder="מספר הטלפון שלך">
        <div class="error" *ngIf="volunteerSignUpForm.controls['phone'].errors?.required!=null&&volunteerSignUpForm.controls['phone'].touched==true">שדה זה הוא שדה חובה</div>
        <div class="error" *ngIf="volunteerSignUpForm.controls['phone'].errors?.minlength!=null"> אורך מינימלי 9 ספרות </div>
        <div class="error" *ngIf="volunteerSignUpForm.controls['phone'].errors?.pattern!=null">ספרות בלבד</div>
        
      </div>
  
      <div  class="form-group">
        <label for="email" >דוא"ל:</label>
        <input id="email" type="text" formControlName="email" class="form-control" placeholder="כתובת המייל שלך">
        <div class="error" *ngIf="volunteerSignUpForm.controls['email'].errors?.required!=null&&volunteerSignUpForm.controls['email'].touched==true">שדה זה הוא שדה חובה</div>
        <div class="error" *ngIf="volunteerSignUpForm.controls['phone'].errors?.email!=null">כתובת מייל לא חוקית</div>
      </div>
     
  
      
  
      <input type="submit" value="הרשם" class="btn btn-success">
      <div><a [routerLink]="['/signin']">כבר נרשמת לכאן? התחבר/י</a></div>
    </form>
</body>
</html>