<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>בקשות בטיפולך</h3>
    <div *ngFor="let ureq of this.requestsinmycare" class="req">
        <div>
            <span>{{ureq.userName}}</span><br>
            <span>{{ureq.requestDetails}}</span><br>
        </div>

        <!-- <div class="state">
            <span *ngIf="ureq.requestGranted; else wait">בקשה בטיפול</span>

            <ng-template #wait>
                <span>הבקשה ממתינה לטיפול</span> <br>
                <a href="javascript:void(0)" (click)="RemoveRequest(ureq.requestNumber)" id="removerequest">הסר מרשימת
                    הבקשות</a>
            </ng-template>
        </div> -->

    </div>
</body>

</html>