.un{
    font-size: 15px;
    font-weight: bold;
}
.request{
    margin-bottom: 8px;
}
#sum{
    font-size: small;
}

div{
    padding: 8px
}
.requestsbutton{
    padding: 1px;
}
.comp{
    text-align: right;
}
.in{
    margin: 0px;
    padding: 0px;
}
.bt{
font-size: medium;
}


