
<div id="sum">סך הכל {{this.requests.length}} בקשות ממתינות</div>


<div *ngFor="let req of requests" class="x">
    <div class="un">{{req.userName}}</div>
    <span>{{req.city}}, באופן {{req.time}}</span><br>
    <div>{{req.requestDetails}}</div>

    <!-- <div *ngIf="!this.isshown[req.requestNumber]">
        <a href="javascript:void(0)" (click)='getDetails(req.requestNumber)'>פרטים נוספים</a>
    </div>

    <div *ngIf="this.isshown[req.requestNumber]" class="details">
        <div>כתובת: {{req.street}}</div>
    </div> -->

    <button (click)="response(req.requestNumber)" class="requestsbutton">מענה לבקשה</button>
    <button class="requestsbutton">צור קשר עם {{req.userName}}</button>


</div>